<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error-Based SQL Injection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5 p-4 border rounded shadow-sm bg-white">
    <h1 style="font-weight: bold;">Error-Based SQL Injection</h1>
        <div class="card mt-3">
            <div class="card-body">
                <p>
                    Celem tego ćwiczenia jest wykorzystanie podatności aplikacji webowej na atak typu <strong>Error-Based SQL Injection</strong>. 
                    Manipulując danymi w formularzu, będziesz miał możliwość uzyskania szczegółowych informacji na temat struktury i konfiguracji bazy danych.
                </p>
                <p>
                    Podczas ataku powinieneś skupić się na wykorzystaniu klauzuli <code>UNION</code>, aby połączyć wyniki zapytań i wyświetlić dodatkowe informacje. 
                    Proces ten powinien być przeprowadzony zgodnie z paradygmatem przedstawionym w prezentacji.
                </p>
                <h4 class="mt-3">Rezultaty ataku:</h4>
                <ul>
                    <li>
                        <strong>Rodzaj bazy danych:</strong>
                    </li>
                    <li>
                        <strong>Nazwy tabel:</strong>
                    </li>
                    <li>
                        <strong>Nazwa bazy danych:</strong>
                    </li>
                    <li>
                        <strong>Nazwy kolumn:</strong>
                    </li>
                    <li>
                        <strong>Numer portu:</strong>
                    </li>
                </ul>
                <h4 class="mt-3">Pomocne komendy:</h4>
                <ul>
                    <li>
                        <code>UNION SELECT</code>: Pozwala połączyć wyniki kilku zapytań w jedno.
                    </li>
                    <li>
                        <code>information_schema</code>: Specjalna baza danych, która przechowuje metadane, takie jak nazwy tabel, kolumn czy indeksów.
                    </li>
                </ul>
                <p class="mt-3">
                    W trakcie ćwiczenia pamiętaj, aby dokładnie analizować zwracane błędy i wykorzystywać je do iteracyjnego rozszerzania swoich zapytań. 
                    Poprawność zapytania możesz testować etapami, zaczynając od prostych poleceń i stopniowo dodając kolejne elementy.
                </p>
            </div>
        </div>

        {% include "signup.html" %}
    </div>

    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel"><span style="font-weight: bold;">Login Output</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modal-message" style="font-weight: bold;"></p>
                    <div class="">
                    <p class="mt-3">Celem mechanizmu Error-Based SQL Injecion jest zdobycie jak największej ilości informacji o bazie danych, chociażby w celu sprawdzenia jej podatności na różnego rodzaju ataki, czy wykorzystaniu wydobytych dany w nieetyczny sposób.</p>
                    </div>
                    <h6 class="mt-3"><span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;SQL Output:</span></h6>
                    <pre id="modal-sql-query" class="bg-light p-3"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.reload();">Close</button>
                    <button type="button" class="btn btn-primary" onclick="redirectToHome()">Go to Home</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

    <script src="../static/error_based.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>