<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Test SQL Injection</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Test SQL Injection</h1>
        <div class="list-group mt-3">
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/classic_sqli')">Classic SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/time_based_sqli')">Time-based Blind SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/union_based_sqli')">Union-based SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/error_based_sqli')">Error-based SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/out_of_band_sqli')">Out of band SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/second_order_sqli')">Second-order SQL Injection</button>
        </div>
    </div>
    {%include 'footer.html'%}
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
