<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SQL Injection Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">SQL Injection Demo</h1>
        <div class="list-group mt-3">
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/classic_sqli')">Classic SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/blind_sqli')">Blind SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/time_based_sqli')">Time-based Blind SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/union_based_sqli')">Union-based SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/error_based_sqli')">Error-based SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/boolean_based_sqli')">Boolean-based Blind SQL Injection</button>
            <button class="list-group-item list-group-item-action" onclick="redirectTo('/second_order_sqli')">Second-order SQL Injection</button>
        </div>
    </div>
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
