<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Second-order SQL Injection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5 p-4 border rounded shadow-sm bg-white">
        <h1 style="font-weight: bold;">Second-order SQL Injection</h1>
            <div class="card mt-3">
                <div class="card-body">
                    <p>
                        Celem tego zadania jest pozyskanie danych o loginach i hasłach użytkowników, które znajdują się w bazie danych tego serwisu. 
                        Atak wymaga przeprowadzenia <strong>Second-Order SQL Injection</strong>, gdzie złośliwe dane są wprowadzane w jednym miejscu aplikacji, 
                        a wykorzystane w innym, podczas wewnętrznego przetwarzania danych przez serwer.
                    </p>
                    <p>
                        Twoim zadaniem jest utworzenie odpowiedniego loginu w procesie rejestracji, a następnie wykorzystanie tego konta, aby przechwycić zawartość bazy danych 
                        podczas próby logowania.
                    </p>
                    <h4 class="mt-3">Etapy zadania:</h4>
                    <ul>
                        <li>
                            <strong>Rejestracja:</strong> Wprowadzenie złośliwego ładunku SQL jako loginu.
                        </li>
                        <li>
                            <strong>Logowanie:</strong> Próba zalogowania się na wcześniej utworzone konto, która aktywuje przygotowane wcześniej, zainfekowane zapytanie SQL.
                        </li>
                        <li>
                            <strong>Wynik ataku:</strong> Pozyskanie loginów i haseł użytkowników z bazy danych.
                        </li>
                    </ul>
                    <h4 class="mt-3">Pomocne wskazówki:</h4>
                    <ul>
                        <li>
                            <code>SELECT ... WHERE</code>: Flask do wyłonienia wyników z bazy danych, wykorzystuje tego rodzaju klauzule.
                        </li>
                        <li>
                            Flask w zapytaniu SQL porównuje <code>password</code> z <code>username</code>.
                        </li>
                        <li>
                            Trudność polega na odpowiednim zdefiniowaniu warunku <code>OR</code> 
                        w celu osiągnięcia zamierzonego efektu.
                        </li>
                    </ul>
                    <p class="mt-3">
                        Pamiętaj, aby dokładnie przeanalizować sposób przechowywania i przetwarzania danych w aplikacji. Second-Order SQL Injection 
                        różni się od klasycznego w tym, że złośliwe dane nie są natychmiast przetwarzane, co wymaga większej precyzji w przygotowaniu ataku.
                    </p>
                </div>
            </div>

        {% include "signup.html" %}
    </div>

    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel"><span style="font-weight: bold;">Login Output</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modal-message" style="font-weight: bold;"></p>
                    <div class="">
                    <p class="mt-3">Celem mechanizmu Secon-Order SQL Injecion jest przede wszystkim wydobycie podatnych na atak danych. W tym procesie, aby to uzyskać początkowo napastnik wstrzykuję zainfekowane zapytanie, aby to następnie, w naturalnym procesie działania aplikacji mogło się ono uzewnętrznić. Generalnym celem jest wydobycie danych, a nie nieautoryzowany dostęp.</p>
                    </div>
                    <h6 class="mt-3"><span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;SQL Output:</span></h6>
                    <pre id="modal-sql-query" class="bg-light p-3"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.reload();">Close</button>
                    <button type="button" class="btn btn-primary" onclick="redirectToHome()">Go to Home</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

    <script src="../static/second_order.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>