<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Second-order SQL Injection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5 p-4 border rounded shadow-sm bg-white">
        <h1 style="font-weight: bold;">Second-order SQL Injection</h1>
            <div class="card">
                <div class="card-body">
                    <p>Celem zadania jest <span style="font-weight: bold;">pozyskanie danych o loginach i hasłach użytkowników</span>, znajdujących się w bazie danych tego serwisu.
                    <br>Atakujący, powinien stworzyć odpowiedni login, a następnie zalogować się w celu przechwycenia zawartości DB.</p>
                    <p>Atak trzeba przeprowadzić według przedstawionego podczas części teoretycznej paradygmatu <span style="font-weight: bold;"> Second-Order SQL Injection.</span></p>
                    <p>UWAGA! Zastanów się jak <span style="font-weight: bold;">FLASK</span> operuje na bazach danych (jakiego warunku OR trzeba użyć).</p>
                </div>
            </div>
        {% include "signup.html" %}
    </div>

    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel"><span style="font-weight: bold;">Login Output</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modal-message" style="font-weight: bold;"></p>
                    <div class="">
                    <p class="mt-3">Celem mechanizmu Secon-Order SQL Injecion jest przede wszystkim wydobycie podatnych na atak danych. W tym procesie, aby to uzyskać początkowo napastnik wstrzykuję zainfekowane zapytanie, aby to następnie, w naturalnym procesie działania aplikacji mogło się ono uzewnętrznić. Generalnym celem jest wydobycie danych, a nie nieautoryzowany dostęp.</p>
                    </div>
                    <h6 class="mt-3"><span style="font-weight: bold;">&nbsp;&nbsp;&nbsp;SQL Output:</span></h6>
                    <pre id="modal-sql-query" class="bg-light p-3"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.reload();">Close</button>
                    <button type="button" class="btn btn-primary" onclick="redirectToHome()">Go to Home</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

    <script src="../static/second_order.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>